body {
    background-color: #F3E5AB;
    color: #000000;
    font-family: Times New Roman;
    font-size: 1.3em;
}

h1, h5 {
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1em;
}

#score {
    text-align: center;
    font-size: 1.5em;
}

#meaning {
    text-align: center;
    font-size: .8em;
}

.button {
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    padding: 15px 32px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
}

#buttondiv {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button:hover {
    background-color: #12496e;
}

a:link {
    color: rgb(0, 225, 255);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 110, 255);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(130, 220, 231);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: rgb(0, 153, 255);
    background-color: transparent;
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #032c44;
    border-radius: 10px;
}

input[type=checkbox] {
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}